<table class="table message">
  <% chats.each do |chat| %>
    <% if chat.user_id == current_user.id %>
    <tbody>
      <tr>
        <th>
          <p style="text-align:right; "><%= chat.message %></p>
        </th>
      </tr>
    </tbody>
    <% else %>
    <tbody>
      <tr>
        <th>
          <p style="text-align:left; "><%= chat.message %></p>
        </th>
      </tr>
    </tbody>
    <% end %>
  <% end %>
</table>