<h2><%= @user.name %>さんとのチャット</h2>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div>
        <%= render "index",chats:@chats %>
      </div>
    </div>
    <div class="col-md-6"></div>
    <div>
      <%= render "form",chat:@chat %>
    </div>
  </div>
</div>

